@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #374958;
  background-color: #f1f5f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

* {
  scrollbar-width: thin;
  box-sizing: border-box;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.btn-purple {
  @apply text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-purple-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}
.btn-yellow {
  @apply text-white bg-gradient-to-r from-yellow-500 via-yellow-600 to-yellow-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-yellow-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}
.btn-green {
  @apply text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-green-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}
.btn-lime {
  @apply text-white bg-gradient-to-r from-lime-500 via-lime-600 to-lime-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-lime-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}
.btn-red {
  @apply text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:outline-none shadow-lg shadow-red-500/50 font-medium rounded-lg text-sm px-5 py-2 text-center mb-2 active:scale-90 duration-300 cursor-pointer block;
}

.animate-bell {
  animation: bell-move 1s ease-out 1.2s infinite reverse;
}
@keyframes bell-move {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(10deg);
  }
  40%,
  80% {
    transform: rotate(-10deg);
  }
}
