asgiref
distlib
dj-database-url
Django
django-cors-headers
django-environ
django-filter
djangorestframework
filelock
importlib_metadata
Markdown
pillow
platformdirs
psycopg2
sqlparse
typing_extensions
tzdata
virtualenv
zipp
